<div data-role="header">Score Templates for <%= event.name %></div>
<% templates = ScoreTemplate.for_event(event) %>
<div data-role="collapsible-set" data-theme="c" data-content-theme="d" data-inset="false">
  <% templates.each do |template| %>
    <div data-role="collapsible">
    	<h2><%= template.id %></h2>
    	<!--= render "score_sheets/sheet",
          :event => event,
          :competitor => competitor,
          :judge => judge  -->
    </div>
  <% end %>
</div>