<% provide(:title, 'Score Templates') %>
<center><p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_score_template_path(@score_template) %> |
<%= link_to 'Back', score_templates_path %></center>
