<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to the Ultimate Judging Application, <%= @judge.name %></h1>
    <p>
      You have successfully been registered to Judge an event,
      your username is: <%= @judge.name %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for being a judge!</p>
  </body>
</html>
