<% provide(:title, 'Help') %>

<center><h1>To Get Started</h1></center>
<ol>
  <li>Register yourself as an event coordinator and create an event!</li>
  <li>Otherwise, if you already have login credentials as an event coordinator or judge, login to the application with your credentials and get going.</li>
	</ol><br>
	<center><h1>Event Coordinators</h1></center>
	<ul>
  <li>If you are an event coordinator you have the ability to create and manage events. This means you can:
  	<ol>
  		<li>Create and assign judges</li>
  		<li>Create competitors</li>
  		<li>Create a score template for your event</li>
  	</ol>
  <li>After the judges have filled out their score sheets, you can also view the results of the event.</li>
  <br><li> Disclaimer: Always remember to manage responsibly. </li>
</ul><br>
<center><h1>Judges</h1></center>
<ul>
	<li>If you are a judge, you have some important duties to attend to.</li>
	<li> We apologize, but Matlock is not here to tell you how it is. You're the jury-member, you're the decision-maker, the power is in your hands, so please be careful.</li>
</ul><br><br>

<center><p>If you have any questions, concerns, or suggestions for how we can make this application better, please contact the creators or Rob Gordon: <br>
						Dylan Ethen ~ dlethe10@smumn.edu<br>
						Joe Budin ~ jpbudi11@smumn.edu<br>
						Rob Gordon ~ rgordon@smumn.edu<br></p></center>
