<% provide(:title, 'Home') %>
	<div class="center hero-unit">
	  <h1>Welcome to the Event Application</h1>

	  <h2>
	    This is the home page for the Event Judging Application.
	  </h2>

	  <%= link_to "Sign up a new event coordinator", signupcoordinator_path, class: "btn btn-large btn-primary" %>
	<br/>
	 <%= link_to "Sign in as event coordinator", coordinatorsignin_path, class: "btn btn-large btn-primary" %>
	<br/>
	<%= link_to "Sign in as judge", judgesignin_path, class: "btn btn-large btn-primary" %>
	
	</div>