<% provide(:title, 'Home') %>
<center>
	<div class="hero-unit">
	    <h1><strong>Welcome to the Event Application</strong></h1>
	    <h2>This is the home page for the Event Judging Application.</h2>
		<b>New to the site?</b><br/>
		<%= link_to "Register to be an event coordinator and get started", signupcoordinator_path, class: "btn btn-large btn-primary" %>
		<br/><br/>
	    <b> Otherwise sign in with your credentials here: </b><br />
	    <%= link_to "Sign in as event coordinator", coordinatorsignin_path, class: "btn btn-large btn-primary" %>
	    <br/>
	    <%= link_to "Sign in as judge", judgesignin_path, class: "btn btn-large btn-primary" %>
	</div>
</center>