<% provide(:title, 'Home') %>
<center>
	<div class="hero-unit">
	    <h1><strong>Welcome to the Event Application</strong></h1>
	    <h2>This is the home page for the Event Judging Application.</h2>
		<b>New to the site?</b><br/>
		<a href='event_coordinators/new' data-transition="slidefade">Register to be an event coordinator and get started</a>
		<br/><br/>
	    <b> Otherwise sign in with your credentials here: </b><br />
	    <a href='coordinatorsessions/new' data-transition="flip">Sign in as an event coordinator</a>
	    <br/>
	    <a href='judgesessions/new' data-transition="flow">Sign in as a judge</a>
	</div>
</center>