<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>


<%= link_to 'Edit', edit_event_coordinator_event_path(@event) %> |
<%= link_to 'Back', event_coordinator_events_path %>
