<div data-role="header">Competitors for <%= event.name %></div>
<% competitors = Competitor.for_event(event) %>
<div data-role="collapsible-set" data-theme="c" data-content-theme="d" data-inset="false">
  <% competitors.each do |competitor| %>
    <div data-role="collapsible">
    	<h3><%= competitor.name %></h3>
        <!--<ul data-role="listview">
          <li><= render "score_sheets/sheet",
              :event => event,
              :competitor => competitor,
              :judge => judge %><li-->
    </div>
  <% end %>
</div>