<% provide(:title, 'Edit Coordinator') %>
<div class="container">
	<center><h1>Editing event_coordinator</h1></center>

	<%= render 'form' %>

	<%= link_to 'Show', @event_coordinator %> |
	<%= link_to 'Back', event_coordinators_path %>
</div>
