<div data-role="collapsible" data-mini="true" data-theme="b" data-content-theme="a">
  <h4>Options</h4>
  <ul data-role="listview">
      <li><%= link_to "Profile", current_coordinator %></li>
      <li><%= link_to "Settings", '#' %></li>
      <li><%= link_to "Sign out", coordinatorsignout_path, method: "delete" %></li>
  </ul>
</div>